<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="daydayshop.dao.TbItemCustomMapper">

    <sql id="Base_Column_List">
        item.id, item.title, item.sell_point as sellPoint, format(item.price/100,2) as priceFormat,
        item.num, item.barcode, item.image, item.cid, item.status, item.created, item.updated,
        cat.name as catName
    </sql>

    <sql id="Where_Clause">
        <where>
            item.status != 3
            <if test="tbItemQuery != null and tbItemQuery.title != null and tbItemQuery.title != ''">
                and item.title like '%${tbItemQuery.title}%'
            </if>
            <if test="tbItemQuery != null and tbItemQuery.status != null and tbItemQuery.status != 0">
                and item.status = #{tbItemQuery.status}
            </if>
        </where>
    </sql>

    <select id="countItems" resultType="_int" parameterType="map">
        select count(1) from tb_item item
        <include refid="Where_Clause"></include>
    </select>

    <select id="listItemsByPage" resultType="daydayshop.pojo.vo.TbItemCustom" parameterType="map">
        select <include refid="Base_Column_List"></include>
        from tb_item item
        left join tb_item_cat cat
        on item.cid = cat.id
        <include refid="Where_Clause"></include>
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <if test="order.sort == 'title'">
                    order by convert(item.${order.sort} using gbk) ${order.order}
                </if>
                <if test="order.sort == 'id'">
                    order by item.${order.sort} ${order.order}
                </if>
            </when>
            <otherwise>
                order by item.id desc
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>

</mapper>